html, body {
  margin: 0;
  background-color: #faf2f0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: relative;
  box-sizing: border-box;
  background-color: #262626;
}
nav .nav-links {
  height: 2.5em;
  padding: 0em 20em;
}
nav .nav-links .nav-links__home {
  margin-top: 5px;
  font-size: 1.3em;
  position: absolute;
  text-decoration: none;
  color: white;
}
nav .nav-links .nav-links__project {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
  text-decoration: none;
}
nav .nav-links .nav-links__access {
  float: right;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

main header {
  padding-top: 10px;
  padding-left: 20em;
  padding-right: 20em;
  padding-bottom: 10px;
  background-color: #f2e1d5;
}
main header .repo__type {
  color: #262626;
}
main header img {
  vertical-align: middle;
}
main header div {
  color: white;
  font-size: 1.5em;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
main header button {
  float: right;
  border: none;
  padding: 10px;
  color: white;
  font-size: 1em;
  border-radius: 4px;
  margin-top: 1em;
  vertical-align: middle;
  background-color: #262626;
}
main .banner {
  height: 22em;
  padding-top: 2em;
  text-align: center;
  padding-left: 15em;
  background-color: #262626;
}
main .banner .arrow__backward {
  float: left;
  margin-top: 7em;
}
main .banner .arrow__forward {
  float: right;
  margin-top: 7em;
  padding-right: 15em;
}
main .banner .sample {
  display: none;
}
main .banner .sample__1 {
  display: initial;
}
main .info {
  border: 4px solid #faf2f0;
  margin: 2em 20em;
  margin-bottom: 0em;
  border-radius: 8px;
  color: black;
  font-size: 1.3em;
  height: 13em;
  padding-bottom: 2em;
  background-color: #faf2f0;
}
main .info div {
  width: 70%;
  vertical-align: top;
  display: inline-block;
}
main .info div button {
  border: none;
  outline: none;
  font-size: 0.7em;
  padding: 5px 10px;
}
main .info .version__box {
  float: right;
  height: 15em;
  padding: 10px;
  width: 20%;
  border-radius: 4px;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #262626;
  border-radius: 8px;
}

footer {
  margin-top: 25em;
}

/*# sourceMappingURL=panel.css.map */
