
html, body {
  margin: 0;
  background-color: #faf2f0ff;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: relative;
  box-sizing: border-box;
  background-color: #262626;
  .nav-links {
    height: 2.5em;
    padding: 0em 20em;
    .nav-links__home {
      margin-top: 5px;
      font-size: 1.3em;
      position: absolute;
      text-decoration: none;
      color: white;
    }
    .nav-links__project {
      float: right;
      color: white;
      margin-right: 20px;
      margin-top: 10px;
      text-decoration: none;

    }
    .nav-links__access {
      float: right;
      color: white;
      margin-top: 10px;
      text-decoration: none;
    }
  }
}
 
main {
  header {
    padding-top: 10px;
    padding-left: 20em;
    padding-right: 20em;
    padding-bottom: 10px;
    background-color: #f2e1d5ff;
    .repo__type {
      color: #262626;
    }
    img {
      vertical-align: middle;
    }
    div {
      color: white; 
      font-size: 1.5em; 
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
    }
    button {
      float: right; 
      border: none; 
      padding: 10px; 
      color: white;
      font-size: 1em; 
      border-radius: 4px;
      margin-top: 1em; 
      vertical-align: middle;
      background-color: #262626; 
    }
  }
  .banner {
    height: 22em; 
    padding-top: 2em; 
    text-align: center; 
    padding-left: 15em;
    background-color: #262626;
    .arrow__backward {
      float: left; 
      margin-top: 7em;
    }
    .arrow__forward {
      float: right; 
      margin-top: 7em; 
      padding-right: 15em;
    }
    .sample {
      display: none;
    }
    .sample__1 {
      display: initial;
    }
  }
  .info {
    border: 4px solid #faf2f0ff;
    margin: 2em 20em;
    margin-bottom: 0em;
    border-radius:8px;
    color: black; 
    font-size: 1.3em; 
    height: 13em;
    padding-bottom: 2em;
    background-color: #faf2f0ff;
    div {
      width: 70%; 
      vertical-align: top;
      display: inline-block;
      button {
        border: none; 
        outline: none; 
        font-size: .7em; 
        padding: 5px 10px;
      }
    }
    .version__box {
      float: right; 
      height: 15em; 
      padding: 10px; 
      width: calc(20%); 
      border-radius: 4px;
      vertical-align: top; 
      box-sizing: border-box; 
      background-color: #262626;
      border-radius: 8px;
    }
  }
}
footer {
  margin-top: 25em;
}