.popup {
  top: 0;
  left: 0;
  right: 0;
  width: 35em;
  margin: auto;
  height: 25em;
  display: none;
  position: fixed;
  margin-top: 14em;
  padding: 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #afb9c9;
  box-shadow: 5px 5px 5px black;
}
.popup .popup__header {
  color: black;
  padding-bottom: 10px;
}
.popup .popup__header .popup--close {
  float: right;
}
.popup form section {
  height: 15em;
  position: relative;
}
.popup form section .popup__left {
  position: absolute;
}
.popup form section .popup__left img {
  width: 8em;
  height: 8em;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid black;
}
.popup form section .popup__left .popup__select {
  width: 9em;
  border: none;
  outline: none;
  background-color: white;
}
.popup form section .popup__left .popup__save {
  width: 8em;
  border: none;
  font-size: 1em;
  color: white;
  border-radius: 3px;
  background-color: #262626;
}
.popup form section .popup__right {
  right: 0;
  left: 9em;
  position: absolute;
  display: inline-block;
}
.popup form section .popup__right .project__input {
  width: 15em;
  border: none;
  padding: 5px;
  outline: none;
  font-size: 1em;
  color: white;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #262626;
}
.popup form section .popup__right .project__input::placeholder {
  color: grey;
}
.popup form section .popup__right .project__descr {
  width: 24em;
  border: none;
  resize: none;
  height: 11em;
  outline: none;
  color: white;
  margin-top: 2em;
  border-radius: 3px;
  background-color: #262626;
}
.popup form section .popup__right .project__descr::placeholder {
  color: grey;
}
.popup form section .popup__right .project__descr::-webkit-scrollbar {
  width: 10px;
}
.popup form .image-container {
  width: 100%;
  text-align: center;
}
.popup form .image-container .option__1 {
  height: 6em;
  width: 10em;
  display: inline-block;
  border: 2px dashed black;
}
.popup form .image-container .option__1 .sample__1 {
  width: 100%;
  height: 6em;
}
.popup form .image-container .option__1 input {
  display: none;
}
.popup form .image-container .option__2 {
  width: 10em;
  height: 6em;
  display: inline-block;
  border: 2px dashed black;
}
.popup form .image-container .option__2 .sample__2 {
  width: 100%;
  height: 6em;
  border: none;
}
.popup form .image-container .option__2 input {
  display: none;
}
.popup form .image-container .option__3 {
  height: 6em;
  width: 10em;
  display: inline-block;
  border: 2px dashed black;
}
.popup form .image-container .option__3 .sample__3 {
  width: 100%;
  width: 100%;
  height: 6em;
  border: none;
}
.popup form .image-container .option__3 input {
  display: none;
}

/*# sourceMappingURL=popup.css.map */
