html, body {
  margin: 0;
  background-color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: relative;
  box-sizing: border-box;
  background-color: #262626;
}
nav .nav-links {
  height: 2.5em;
  padding: 0em 20em;
}
nav .nav-links .nav-links__home {
  margin-top: 5px;
  font-size: 1.3em;
  position: absolute;
  text-decoration: none;
  color: white;
}
nav .nav-links .nav-links__project {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}
nav .nav-links .nav-links__access {
  float: right;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

main header {
  height: 15em;
  padding-top: 2em;
  text-align: center;
  box-sizing: border-box;
  background-color: #f2e1d5;
}
main header .header-search .header-search__label {
  color: black;
  font-size: 2em;
}
main header .header-search .header-search__label span {
  color: black;
}
main header .header-search .header-search__input {
  width: 30em;
  border: none;
  padding: 5px;
  outline: none;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  margin-top: 0.2em;
  border-radius: 25px;
  background-color: #262626;
}
main header .header-search .header-search__input::placeholder {
  color: lightgrey;
}
main article {
  margin: 3em 20em;
  color: #faf2f0;
}
main article hr {
  border: 1px solid #faf2f0;
}
main article .hr-2 {
  margin-top: 3em;
}
main article h3 {
  margin-left: 20px;
}
main article .article-p1 {
  font-size: 2em;
}
main article .article-p2 {
  font-size: 20px;
}
main article .article-button {
  width: 7em;
  border: none;
  padding: 5px;
  outline: none;
}

footer {
  margin: 2em 20em;
  text-align: center;
}
footer .all {
  border: none;
  padding: 0.5em;
  color: black;
  font-size: 1.5em;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #faf2f0;
}

/*# sourceMappingURL=home.css.map */
