<!DOCTYPE html>
<html>
  <head>
    <title>Catalog - Search</title>
    <link rel='stylesheet' type='text/css' href='../../static/search/css/search.css'>
    <script src='/static/_libraries/jquery.js'></script>
    <link rel="shortcut icon" type="image/png" href="/static/search/img/ico.png" />
  </head>

  <body class='mail'>
    <nav>
      <div class='nav-links'>
        <a class='nav-links__home' href='/'>Catalog</a>
        <a class='nav-links__project' href="#">Search</a>
      </div>
    </nav>
    
    <main>
      <header>
        <div class='search'>
          <input class='search__input' placeholder="Search Packages" spellcheck=false />
        </div>
      </header>
      
      <div class='sub__header'>
        <ul>
          <li class='selection filter__desktop'>Desktop</li>
          <li class='selection filter__server'>Server</li>
          <li class='selection filter__firmware'>Firmware</li>
        </ul>
      </div>

      <section class='results'>
        <div class='popular'></div>
      </section>
    </main>
    {% include "popup/popup.html" %}

    <footer></footer>

    <script src='/static/search/js/search.js'></script>
    <script src='/static/popup/js/popup.js'></script>
  </body>
</html>