/* SEARCH PAGE SASS */
html, body {
  margin: 0;
  background-color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: relative;
  box-sizing: border-box;
  background-color: #262626;
}
nav .nav-links {
  height: 2.5em;
  padding: 0em 20em;
}
nav .nav-links .nav-links__home {
  color: white;
  margin-top: 5px;
  font-size: 1.3em;
  position: absolute;
  text-decoration: none;
}
nav .nav-links .nav-links__project {
  float: right;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  text-decoration: none;
}
nav .nav-links .nav-links__access {
  float: right;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

main header {
  height: 5em;
  text-align: center;
  background-color: #f2e1d5;
}
main header .search {
  padding-top: 1em;
}
main header .search .search__input {
  width: 30em;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  border-radius: 25px;
  background-color: #262626;
}
main header .search .search__input::placeholder {
  color: lightgrey;
}
main .sub__header {
  height: 3em;
  position: relative;
}
main .sub__header ul {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: inline-block;
}
main .sub__header ul li {
  color: white;
  margin-left: 10px;
  display: inline-block;
}
main .sub__header ul li:hover {
  text-decoration: underline;
}
main .results {
  margin: 1em 20em;
}
main .results h3 {
  color: white;
}
main .results .popular {
  margin-top: 3em;
  margin: 2em 0em;
}
main .results .popular .popular__banner {
  width: 33%;
  padding: 20px;
  border-radius: 3px;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}
main .results .popular .popular__banner div {
  height: 13em;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #afb9c9;
}
main .results .popular .popular__banner div .title {
  color: black;
}
main .results .popular .popular__banner div .descr {
  font-size: 1.4em;
  color: black;
}
main .popup {
  left: 0;
  right: 0;
  width: 30em;
  height: 20em;
  margin: auto;
  position: absolute;
  background-color: green;
}

/*# sourceMappingURL=search.css.map */
