<!-- Popup for creating new projects -->
<link rel='stylesheet' type='text/css' href='../../static/popup/css/popup.css' />

<!-- Popup -->
<div class='popup'>
  <div class='popup__header'>
    <label class="popup--status">Project Created</label>
    <label class='popup--close'><img src='../../static/home/img/circle-close.svg' height=25/></label>
  </div>

  <!-- Form -->
  <form action="/new_project" method="POST" enctype="multipart/form-data">
    <!-- Section -->
    <section>
      <div class='popup__left'>
        <img src='/static/popup/img/ghost.svg'/>
        <br> <br>
        <select class="popup__select" name="type">
          <option value="desktop">Desktop</option>
          <option value="server">Server</option>
          <option value="firmware">Firmware</option>
        </select>
        <br> <br>
        <button class='popup__save' type='submit'>Save</button>
      </div>

      <div class="popup__right">
        <input class='project__input' name='name' type='text' spellcheck='false' placeholder='Project Name' /> <br>
        <textarea class='project__descr' name="descr" placeholder='Give some info...' spellcheck="false"></textarea>
      </div>
    </section>
    
    <!-- Image Container -->
    <div class="image-container">
      <div class='option__1'>
        <img class='sample__1' />
        <input type="file" class="img1" name="sample1" accept="image/*">
      </div>
  
      <div class='option__2'>
        <img class='sample__2' />
        <input type="file" class="img2" name="sample2" accept="image/*">
      </div>
  
      <div class='option__3'>
        <img class='sample__3' />
        <input type="file" class="img3" name="sample3" accept="image/*">
      </div>
      <br>
    </div>
  </form>
</div>

<script src='/static/popup/js/popup.js'></script>
  