<!-- Panel Page -->

<!DOCTYPE html>
<html>
  <head>
    <title>Catalog - Panel</title>
    <link rel='stylesheet' type='text/css' href='../../static/panel/css/panel.css'>
    <script src='../../static/_libraries/jquery.js'></script>
    <link rel="shortcut icon" type="image/png" href="/static/panel/img/ico.png" />
  </head>

  <body class='panel'>
    <nav>
      <div class='nav-links'>
        <a class='nav-links__home' href='/'>Catalog</a>
        <a class='nav-links__project' href='/search'>Search</a>
      </div>
    </nav>

    <main>
      <header>
        <img src="/banner/{{ item1 }}/{{ item2 }}/ico.png" height=50 />
        <div>
          <label class='repo__name'></label>
          <br>
          <label class='repo__type'></label>
        </div>
        <button>Download <img src='/static/panel/img/download-solid.svg' height=20 /></button>
      </header>
      
      <section class='banner'>
        <img class='arrow__backward' src='/static/panel/img/chevron-left-solid.svg' height=50 />
        <img class='arrow__forward' src='/static/panel/img/chevron-right-solid.svg' height=50 />
      </section>
      <hr style="border: 2px solid #faf2f0ff">
      <section class='info'>
        <div class='repo__description'>{{ description }}</div>
        <div class='version__box'></div>
      </section>
    </main>

    {% include "popup/popup.html" %}
    <footer></footer>
    <script src='/static/panel/js/panel.js'></script>
  </body>
</html>