<!DOCTYPE html>
<html>
  <head>
    <title>Catalog - Home</title>
    <link rel='stylesheet' type='text/css' href='../../static/home/css/home.css'>
    <link rel="shortcut icon" type="image/png" href="/static/home/img/ico.png" />
    <script src='/static/_libraries/jquery.js'></script>
  </head>

  <body>
    <nav>
      <div class='nav-links'>
        <a class='nav-links__home' href='#'>Catalog</a>
        <label class='nav-links__project' onclick="createProject()">New Project +</label>
      </div>
    </nav>

    <main>
      <header>
        <div class='header-search'>
          <br>
          <label class="header-search__label">repo<span>.local</span></label>
          <br> <br>
          <input class='header-search__input' placeholder='Search projects' spellcheck=false />
        </div>
      </header>

      <article>
        <hr>
        <p class='article-p1'>Download Cli Tool</p>
        <p class='article-p2'>Use this tool to easily download and update the Catalog software.</p>
        <button class="article-button">Download</button>
        <hr class='hr-2'>
      </article>
    </main>
    
    {% include "popup/popup.html" %}

    <footer>
      <a href='/search'><button class='all'>Show All</button></a>
    </footer>
    <script src='/static/home/js/home.js'></script>
  </body>
</html>